[submodule "examples/foundry/foundry-starter-kit"]
	path = examples/foundry/foundry-starter-kit
	url = https://github.com/smartcontractkit/foundry-starter-kit
[submodule "projects/vendingmachine/runners/foundry/lib/forge-std"]
	path = projects/vendingmachine/runners/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/bbse-bank-2.0/runners/foundry/lib/forge-std"]
	path = projects/bbse-bank-2.0/runners/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/bbse-bank-2.0/runners/foundry/lib/openzeppelin-contracts"]
	path = projects/bbse-bank-2.0/runners/foundry/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "foundry-starter-kit"]
	path = examples/foundry/foundry-starter-kit
	url = https://github.com/smartcontractkit/foundry-starter-kit.git
